header {
  width: 80%;
  margin: 20px auto 0 auto;
  text-align: center;
}
header h1 {
  margin: 1rem auto;
}
main {
  margin: 1rem;
}
main h2 {
  text-align: center;
}
.fixedQuestions, .mathsQuestions {
  border: 1px solid #000;
  border-radius: 1rem;
  -webkit-box-shadow: 10px 3px 15px -6px #000000; 
  box-shadow: 10px 3px 15px -6px #000000;
  padding: 1rem;
}
.fixedAnswer {
  text-align: center;
}
th {
  text-align: left;
}
.centerText {
  text-align: center;
}
tr.even {
  background-color: #eee;
}
tr.odd {
  background-color: #ddd;
}
.mathsQs th, .mathsQs td, .robobobQs td, .robobobQs th{
  padding: 0.25rem;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
.mathsBorder, .roboBobBorder {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}